@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,600;1,800&display=swap");
* {
  padding: 0;
  margin: 0; }

.navbar, .header-secciones {
  position: fixed;
  width: 100%;
  background-color: #ffffffe0;
  z-index: 1;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 0; }
  .navbar .ancho-maximo, .header-secciones .ancho-maximo {
    max-width: 1400px; }
    .navbar .ancho-maximo .typo-titulo, .header-secciones .ancho-maximo .typo-titulo {
      font-family: "Barlow", sans-serif;
      font-weight: 900;
      font-size: 23px;
      color: black; }
    .navbar .ancho-maximo .navbar-nav, .header-secciones .ancho-maximo .navbar-nav {
      width: 600px;
      justify-content: space-between; }
      .navbar .ancho-maximo .navbar-nav .typo-secciones, .header-secciones .ancho-maximo .navbar-nav .typo-secciones {
        font-family: "Barlow", sans-serif;
        font-weight: 700;
        font-size: 21px;
        color: black; }
      .navbar .ancho-maximo .navbar-nav .nav-link, .header-secciones .ancho-maximo .navbar-nav .nav-link {
        --b: 0.1em;
        /* the thickness of the line */
        --c: #000000;
        /* the color */
        color: #0000;
        padding-block: var(--b);
        background: linear-gradient(var(--c) 50%, #000 0) 0% calc(100% - var(--_p, 0%))/100% 200%, linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
        -webkit-background-clip: text, padding-box;
        background-clip: text, padding-box;
        transition: 0.3s var(--_s, 0s) linear, background-size 0.3s calc(.3s - var(--_s, 0s)); }
      .navbar .ancho-maximo .navbar-nav .nav-link:hover, .header-secciones .ancho-maximo .navbar-nav .nav-link:hover {
        --_p: 100%;
        --_s: .3s; }
      .navbar .ancho-maximo .navbar-nav .actual, .header-secciones .ancho-maximo .navbar-nav .actual {
        background-color: #6f9288d6; }

.header-index {
  background-image: url("https://images.unsplash.com/photo-1508872558182-ffc7f1b387f9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column; }
  .header-index .header-index__titulo {
    display: flex;
    align-content: flex-end;
    height: 90vh;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center; }
    .header-index .header-index__titulo h1 {
      font-family: "Barlow", sans-serif;
      font-weight: 700;
      font-size: 26px;
      color: black;
      background-color: #ffffffb4;
      padding: 5px; }

@media (max-width: 575px) {
  .navbar .container-fluid, .header-secciones .container-fluid {
    max-width: 90%; } }

* {
  padding: 0;
  margin: 0; }

img.btn-whatsapp {
  display: block !important;
  position: fixed;
  z-index: 9999999;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  border-radius: 100px !important; }

img.btn-whatsapp:hover {
  border-radius: 100px !important;
  -webkit-box-shadow: 0px 0px 15px 0px #075e54;
  -moz-box-shadow: 0px 0px 15px 0px #075e54;
  box-shadow: 0px 0px 15px 0px #075e54;
  transition-duration: 1s; }

#main .container {
  background-color: #e7dada77;
  margin-right: 0%;
  margin-left: 0%;
  max-width: 100%; }
  #main .container .row {
    align-items: center;
    padding: 50px; }
    #main .container .row .col {
      display: flex;
      justify-content: center; }
      #main .container .row .col p {
        max-width: 460px;
        text-align: justify; }
    #main .container .row .typo-parrafo {
      font-family: "Red Hat Display", sans-serif;
      font-size: 20px; }
    #main .container .row .imagen-main {
      max-width: 350px;
      border-radius: 8px; }

@media (max-width: 575px) {
  .main .row {
    flex-direction: column; }
  .main .imagen-main {
    width: 250px; } }

#main-contacto {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e7dada77; 
  .swal-overlay {
    background-color: rgba(43, 165, 137, 0.45);
  }
}
  #main-contacto h1 {
    font-family: "Barlow", sans-serif;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 30px; }
  #main-contacto .contenedor-formulario {
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: white;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px; }
    #main-contacto .contenedor-formulario .mb-3 {
      width: 500px; }
      #main-contacto .contenedor-formulario .mb-3 .typo-parrafo {
        font-family: "Red Hat Display", sans-serif;
        font-size: 20px; }
    #main-contacto .contenedor-formulario .btn {
      max-width: 100px;
      margin-right: 430px; }

@media (max-width: 575px) {
  #main-contacto .contenedor-formulario {
    max-width: 350px; }
    #main-contacto .contenedor-formulario .mb-3 {
      max-width: 300px; }
    #main-contacto .contenedor-formulario .btn {
      margin-right: 230px; } }

#main-productos {
  z-index: 0;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  padding-top: 130px;
  background-color: #e7dada77;
  align-items: center;
  padding-bottom: 20px; }
  #main-productos h1 {
    font-family: "Barlow", sans-serif;
    font-size: 30px;
    font-weight: 700; }
  #main-productos p {
    font-family: "Red Hat Display", sans-serif;
    font-size: calc(1em + 0.5vw);
    margin: 0; }
  #main-productos i {
    font-family: "Red Hat Display", sans-serif; }
  #main-productos .photo-gallery {
    padding: 20px; }
    #main-productos .photo-gallery .container {
      max-width: 90%;
      min-height: 450px;
      border-radius: 8px;
      background-color: white;
      box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
      border-radius: 8px; }
      #main-productos .photo-gallery .container .productos-contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 300px;
        justify-content: space-between; }
  #main-productos__titulo {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: black; }
  #main-productos .photo-gallery h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit; }
  @media (max-width: 767px) {
    #main-productos .photo-gallery h2 {
      margin-bottom: 10px;
      padding-top: 25px;
      font-size: 24px; } }
  @media (max-width: 575px) {
    #main-productos .main-productos {
      width: 100%; }
    #main-productos p {
      margin: auto; }
    #main-productos .img-fluid {
      max-width: 250px; } }
  #main-productos .photo-gallery .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 40px; }
    #main-productos .photo-gallery .intro h3 {
      margin-bottom: 0; }
    #main-productos .photo-gallery .intro .photos {
      padding-bottom: 20px; }
      #main-productos .photo-gallery .intro .photos .item {
        padding-bottom: 10px; }

#main-servicios {
  background-color: #e7dada77;
  padding-top: 130px;
  height: 120vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #main-servicios img.btn-whatsapp {
    display: block !important;
    position: fixed;
    z-index: 9999999;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    border-radius: 100px !important; }
  #main-servicios img.btn-whatsapp:hover {
    border-radius: 100px !important;
    -webkit-box-shadow: 0px 0px 15px 0px #075e54;
    -moz-box-shadow: 0px 0px 15px 0px #075e54;
    box-shadow: 0px 0px 15px 0px #075e54;
    transition-duration: 1s; }
  #main-servicios h1 {
    font-family: "Barlow", sans-serif;
    font-size: 30px;
    font-weight: 700; }
  #main-servicios p {
    font-family: "Red Hat Display", sans-serif;
    font-size: calc(1em + 0.5vw);
    margin: 0; }
  #main-servicios i {
    font-family: "Red Hat Display", sans-serif;
    padding-bottom: 20px; }
  #main-servicios .servicios-fotos {
    display: flex;
    max-width: 90%;
    height: 70vh;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding-left: 50px;
    padding-top: 30px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px; }
  #main-servicios .contenedor {
    position: relative;
    height: 450px;
    width: 450px;
    float: left; }
    #main-servicios .contenedor img {
      max-width: 25vw;
      position: absolute;
      left: 0;
      transition: opacity 1.5s ease-in-out; }
  #main-servicios .contenedor img.top:hover {
    opacity: 0; }

@media (max-width: 1000px) {
  #main-servicios .servicios-fotos {
    height: 45vh; }
  #main-servicios .contenedor {
    height: 300px; } }

@media (max-width: 575px) {
  #main-servicios {
    display: flex;
    flex-direction: column;
    height: 230vh;
    width: 100%;
    padding-bottom: 20px; }
    #main-servicios p {
      max-width: 480px; }
    #main-servicios .servicios-fotos {
      display: flex;
      flex-direction: column;
      height: 1300px;
      max-width: 80%; }
      #main-servicios .servicios-fotos .contenedor {
        height: 350px;
        width: 350px; }
        #main-servicios .servicios-fotos .contenedor img {
          max-width: 55vw; } }

#main-conocenos {
  padding-top: 130px;
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7dada77; }
  #main-conocenos h1 {
    font-family: "Barlow", sans-serif;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 30px; }

.conocenos-contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 80%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  height: 500px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px; }
  .conocenos-contenedor .parrafo-conocenos {
    max-width: 40%;
    padding-right: 30px; }
    .conocenos-contenedor .parrafo-conocenos p {
      font-family: "Red Hat Display", sans-serif;
      font-size: calc(1em + 0.5vw);
      text-align: justify; }
      .conocenos-contenedor .parrafo-conocenos p a {
        color: black; }

@media (max-width: 575px) {
  #main-conocenos {
    height: 160vh;
    padding-bottom: 20px; }
  .conocenos-contenedor {
    flex-direction: column;
    height: 130vh; }
    .conocenos-contenedor .parrafo-conocenos {
      max-width: 80%;
      padding-right: 0px; }
    .conocenos-contenedor .video-conocenos iframe {
      width: 280px; } }

* {
  padding: 0;
  margin: 0; }

footer {
  box-shadow: 5px 0px 2px 0px rgba(0, 0, 0, 0.16), 10px 0px 2px 0px rgba(0, 0, 0, 0.12);
  background: #6f9288d6; }
  footer .lista-redes {
    display: flex;
    flex-direction: column;
    max-width: 50px;
    align-items: center;
    height: 110px;
    justify-content: space-between; }
    footer .lista-redes .icono-red-social {
      max-width: 30px; }
  footer a {
    color: black;
    text-decoration: none;
    transition: all 0.3s; }
  footer .form-control {
    background-color: #ffffffb4;
    border-color: #545454; }
  footer a:hover {
    text-decoration: underline; }
