
.card{
    background-color: #68b6824e;
    max-width: 100%;


.card-header{
    font-family: $typo-titulo;
    font-size: 20px;
}


.card-body {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    .icono-red-social {
        max-width: 50px;
    }

}
}

@media (max-width:400px) {
    .footer {
        .card-body {
            width: 200px;
            .icono-red-social {
                width: 30px;
            }
        }
        
    }

}

