.header {
    background-image: url('https://images.unsplash.com/photo-1554757388-29a2a86ef02f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

    .titulo-header {
        display: flex;
        align-content: flex-end;
        height: 90vh;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;

        .titulo-header-h1 {
            font-family: $typo-titulo;
            font-weight: 700;
            font-size: 26px;
            color: black;
            backdrop-filter: blur(10px);
            padding: 5px;
        }

    }

    .navbar {
        background-color: #68b6822f;

        .ancho-maximo {
            max-width: 1400px;

            .typo-titulo {
                font-family: $typo-titulo;
                font-weight: 900;
                font-size: 23px;
                color: black;
            }



            .navbar-nav {
                width: 600px;
                justify-content: space-between;

                .typo-secciones {
                    font-family: $typo-titulo;
                    font-weight: 700;
                    font-size: 21px;
                    color: black;
                }

                .nav-link {
                    transition: 0.6s;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

        }
    }
}